@media (max-width: 480px) {
  
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300i,400,600,700&subset=cyrillic');
* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}
img:hover{
  cursor: pointer;
}

/* HEADER */

#header {
  height: 240px;
  width: auto;
  text-align: center;
  background-image: url(/static/images/img10.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position-y: 10%; 
  padding-top: 0px;
  border-bottom: 10px solid rgba(255,255,255, 0.2);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
#primary-menu ul {
  list-style: none; 
  font-size: 1em;
}
#primary-menu  li {
  display: inline-block;
  padding: 0 20px;
  padding-top: 5px;
  position: relative;
}
#logo {
  font-size: 1.6em;
  text-shadow: 0px 3px 0px #ccc,
             6px 4px 2px rgba(0,0,0,0.1),
             0px 24px 30px rgba(0,0,0,0.1);
  margin-right: 180px;
}
#logo p {
  font-size: 0.35em;
  margin: 0;
}
a {
  text-decoration: none;
  outline:  none;
  transition: .5s linear;
  color: #000;
  text-transform: uppercase;
}
.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.submenu li {
  width: 100%;
  font-size: 11px;
  text-align: left;
}
#primary-menu .submenu {
  display: none;
}
#primary-menu ul li:hover .submenu {
  display: block;
}

/* SECTION ARTICLE
 for all articles on page
*/

.article {
  height: auto;
  margin: 5% 2%;
  text-align: justify;
}
.article h2 {
  padding-bottom: 30px;
  text-align:  center;
}
.article h4 {
  font-size: 1.3em;
  text-align: center;
  padding-bottom: 30px;
}

/* SLIDER
owl-carousel 
*/

.owl-carousel img {
  height: 150px;
}

/* SECTION REVIEWS */

.reviews {
  padding: 0 10%;  
  padding-block-start: 20px;
  padding-block-end: 50px;
  background-color: #F7F2EC;
}
.reviews h4 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
}
.reviews p {
  font-style: italic;
  text-align: justify;
}
.fa-quote-left,
.fa-quote-right {
  color: rgba(0,0,0,0.5);
}

/* SECTION REVIEWS
CONTACT FORM
*/
.contact_form {
  padding-top: 60px;
  display: inline-block;
  font-size: 1em;
  color: #555;
  margin-left: 0%;
}
#name, 
#email {
  font-size: 1em;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid #888;
}
.contact_form textarea {
  width: 100%;
  height: 150px;
  border: 1px solid #888;
  padding: 5px;
}
.contact_form input.submit {
  font-size: 1em;
  border: 1px solid #888;
  padding: 5px 10px;
  background: #fff;
  color: #555;
  text-align: center;
  margin-left: 35%;
  margin-top: 10px;
}

/* page about.php
SECTION OFFERS
*/

.offers h5{
  font-size: 1em;
  text-align: center;
}
.offers img {
  height: 200px;
  width: 200px;
  border-radius: 10%;
  margin-left: 30%;
  margin-bottom: 30px;
  overflow: hidden;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.offers img:hover {
  border: 10px solid rgba(0,0,0,0.1);
  border-radius: 15%;
}
.offers p {
  padding: 0;
  text-align: justify;
}

/* FOOTER */

#footer-primary-menu {
  padding: 20px 0px;
  
}
#footer-primary-menu ul {
  list-style: none;
  text-align: center;
}
#footer-primary-menu li {
  font-size: 0.8em;
  text-align: justify;
}
#footer-primary-menu #logo {
  font-size: 1.6em;
  padding-bottom: 10px;
  text-align: left;
}
  #footer-primary-menu iframe {
    width: 100%;
  }

/* PAGE contacts.php
class CONTACTS */

.contacts h3 {
  text-align: center;
}
.contacts ul {
  list-style: none;
 padding-left: 30%;
  padding-bottom: 15%;
}
  .contacts iframe {
    width: 800px;
  }
}