@import url('https://fonts.googleapis.com/css?family=Open+Sans:300i,400,600,700&subset=cyrillic');
* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}
img:hover{
  cursor: pointer;
}
#header {
  height: 400px;
  width: 100%;
  text-align: center;
  background-image: url(/static/images/img10.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position-y: 50%; 
  padding-top: 50px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
#primary-menu ul {
  list-style: none; 
  font-size: 1.2em;
}
#primary-menu  li {
  display: inline-block;
  padding: 0 50px;
  position: relative;
}
#logo {
  font-size: 2em;
  text-shadow: 0px 3px 0px #ccc,
             0px 14px 10px rgba(0,0,0,0.2),
             6px 4px 2px rgba(0,0,0,0.1),
             0px 24px 30px rgba(0,0,0,0.1);
}
a {
  text-decoration: none;
  outline:  none;
  transition: .5s linear;
  color: #000;
  text-transform: uppercase;
}
.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.submenu li {
  width: 100%;
  font-size: 12px;
  text-align: left;
}
#primary-menu .submenu {
  display: none;
}
#primary-menu ul li:hover .submenu {
  display: block;
}
.article {
  height: auto;
  margin: 5% 15%;
  text-align: justify;
}
.article h2 {
  padding-bottom: 30px;
  padding-top: 30px;
  text-align:  center;
}
.article h4 {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;
}
.first,  .hidden-element {
  padding: 0 15px ;
}
.owl-carousel img {
	height: 300px;
}
.reviews {
  padding: 0 10%;  
  padding-block-start: 20px;
  background-color: #F7F2EC;
}
.reviews h4 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
}
.reviews p {
  font-style: italic;
  text-align: justify;
}
.fa-quote-left,
.fa-quote-right {
  color: rgba(0,0,0,0.5);
}
.contact_form {
  padding-top: 60px;
  display: inline-block;
  font-size: 1em;
  color: #555;
  margin-left: 10%;
}
#name, 
#email {
  font-size: 1em;
  margin-bottom: 10px;
  padding: 5px;
  width: 50%;
  border: 1px solid #888;
}
.contact_form textarea {
  width: 50%;
  height: 150px;
  border: 1px solid #888;
  padding: 5px;
}
.contact_form input.submit {
  font-size: 1em;
  border: 1px solid #888;
  padding: 5px 10px;
  background: #fff;
  color: #555;
  text-align: center;
  margin-left: 30%;
  margin-top: 10px;
}
.offers {
  height: auto;
  width: auto;
}
.offer h4{
  padding: 5%;
  text-align: center;
}
.offers img {
  height: 250px;
  width: 300px;
  border-radius: 15%;
  margin-left: 15%;
  overflow: hidden;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.offers img:hover {
  border: 10px solid rgba(0,0,0,0.1);
  border-radius: 15%;
}
.offers p {
  padding-top: 20px;
  padding: 10% 15%;
  text-align: justify;
}
